@CHARSET "ISO-8859-1";

/*
 * HTML5 Reset
 * ------------------------------------------------
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, time, mark, audio, video {
    /*    margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 12px;
        vertical-align: baseline;
        background: transparent;
        font-family : "Helvetica",Arial,sans-serif;*/
}

article, aside, figure, footer, header, hgroup, nav,section { display: block; }
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img, object, embed { max-width: 100%; }
/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; overflow-x: hidden;}
/* we use a lot of ULs that aren't bulleted.
    don't forget to restore the bullets within content. */

ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title],
dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td { font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input,
select {vertical-align: middle;}
pre { white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select,
input,
textarea { font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}

/* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline: none;}
small { font-size: 85%;}
strong,
th { font-weight: bold;}
td,
td img {vertical-align: top;}
/* Make sure sup and sub don't screw with your line-heights gist.github.com/413930 */
sub,
sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {font-family: monospace, sans-serif;}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button { cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea { margin: 0;}
/* make buttons play nice in IE */
button { width: auto; overflow: visible;}
/* ------------------- End Restarted CSS -------------------------------------------*/


/*
 * Global
 * ------------------------------------------------------------------ */
body { font: 12px /1.33 Helvetica, 'Helvetica Neue', Arial, sans-serif; padding: 0 20px; color: #424141; background: #f6f6f6;}
h1 { font-size: 24px; color: #333;}
h2 {font-size: 18px; color: #333;}
h3 {font-size: 16px; font-weight: bold;}
h4 {font-weight: bold;}
p {padding-bottom: 1.5em;}
strong {font-weight: bold;}
em {font-style: italic;}
a {color: #009;text-decoration: none;}
table {width: 100%;color: #707070;font-size: 11px; border: 1px solid #dfdfdf;border-width: 0 0 1px 1px;}
td, th {border: 1px solid #dfdfdf; border-width: 1px 1px 0 0;}
th {font-weight: bold;color: #424141;}
select,option,label,input,textarea { font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;}
input:focus, textarea:focus { background: #efefef;}
textarea { resize: none;}
select {padding: 3px;}
option {padding: 3px 0 0;}
legend {position: absolute; top: -999em;left: -999em;height: 1px; width: 1px;}
form input.input_error, form textarea.input_error {border-color: #c00;}
.container {position: relative;width: 100%;min-width: 960px;}
.button {display: inline-block;height: 14px;padding: 8px 20px 4px;font-size: 11px;font-weight: bold;line-height: 1;color: #454545;
    border: 1px solid #c7c7c7;background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -ms-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(top, #fefefe, #eeeeee);
    -webkit-border-radius: 3px;-moz-border-radius: 3px;  border-radius: 3px; cursor: pointer;}
.button:hover {border-color: #999;}
.btn-disable {cursor: default; border: 1px solid #c7c7c7 !important;color: #888 !important;}
.btn-disable:hover {cursor: default !important; border-color: #c7c7c7 !important;}
.btn-delete {color: #bd3232;}
.btn-save,.btn-request,.btn-link,.btn-upload {color: #1e7171;}
.button-help span {float: left;margin: -3px 5px 0 0;width: 15px;height: 16px;
    background: url(../images/ico-help.png) no-repeat 0 0;}
textarea.text, input.text, input.text2, select.text { height: 24px;font-size: 11px;line-height: 1; padding: 0 5px;margin: 0;border: 1px solid #c7c7c7;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px #dddddd;
    -moz-box-shadow: inset 0 1px 2px #dddddd; box-shadow: inset 0 1px 2px #dddddd; outline: none;}

.datepicker {background-color: #fff ;color: #333 ;}

#contentwrapper {height: auto;padding: 20px;}
.content-section {margin-left:20px; margin-right: 20px;}
.content-title {border-bottom: solid 1px #4A4A4A;line-height: 35px; margin-bottom: 20px;}
.content-title h2 {font-weight: bold;font-size: 18px;color: #333333;}


/*
 * LOGIN
 * ------------------------------------------------------------------ */
.login {width: 300px; margin: 100px auto 0;}
.login h1 {position: relative;float: left; width: 108px; height: 54px;}
.login h1 .title {position: absolute;right: 0;bottom: 0;width: 93px; height: 43px; text-indent: -999em; overflow: hidden;
    background: url(../images/logo-ibolz.png) no-repeat 0 0;}
.login header {position: relative; width: 298; overflow: hidden; height: 74px; border: 1px solid #e5e5e5;
    -webkit-box-shadow: inset 0 -10px 10px #efefef; -moz-box-shadow: inset 0 -10px 10px #efefef;
    box-shadow: inset 0 -10px 10px #efefef;}
.login header .pic { position: absolute; bottom: 0;left: 240px;width: 39px;height: 44px;
    background: url(../images/bg-header-login.png) no-repeat 0 0;}
.login fieldset {padding: 25px 20px;border: 1px solid #e5e5e5; border-top: 0; background: #fff;}
.login fieldset label { font-size: 11px; font-weight: bold;}
.login fieldset .text {width: 246px; margin-bottom: 7px;}
.login fieldset .login-action {padding-top: 13px;text-align: right;}
.login fieldset .login-action p {padding: 15px 0 0;}
.login fieldset .login-action p a { color: #188d18;}
.login fieldset .login-action p a:hover { color: #0d620d;}
.login fieldset .info {text-align: center; margin: 0 -10px; padding-bottom: 15px;}
.login .forgot-password #email { margin-bottom: 0;}
.login .forgot-password .info { margin: 0 25px;}
.login .forgot-success .info {font-size: 11px;line-height: 18px; padding-top: 10px;}
.login .forgot-success a {color: #424141; text-decoration: underline;}
.login footer {padding-top: 20px; font-size: 11px; text-align: center; color: #888888;}
.login footer a { color: #888888;}
.login footer a:hover { color: #0d620d;}


/*
 * Header
 * ------------------------------------------------------------------ */
#header { height: 80px;}
#header h1 {position: relative;float: left;width: 123px;height: 57px;padding-top: 53px;border-right: 1px solid #dedede;}
#header h1 .title {position: absolute;left: 15px;top: 15px;width: 93px;height: 43px;text-indent: -999em; overflow: hidden;
    background: url(../images/logo-ibolz.png) no-repeat 0 0;}
#header .admin-info {float: left; padding: 15px 0 0 20px; width: 520px;height: 80px;}
#header .admin-info h2 {font-size: 24px;color: #424141;font-weight: bold;line-height: 1;}
#header .admin-info p {line-height:10px;margin-top:-10px;font-size: 14px;color: #7f7f7f;font-weight: 400;}
#header .date {padding: 5px 15px 0 0;float: right;width: 275px;font-size: 11px;color: #9c9c9c;text-align: right;}

/*
 * Navigation
 * ------------------------------------------------------------------ */
#account-nav {position: absolute;left: 0; right: 0; top: 0; height: 30px; border: 1px solid #dedede;border-top: 0;background: #EE2324;}
#account-nav ul {float: right;}
#account-nav li {float: left;padding: 0; margin: 0;}
#account-nav a {font-size: 11px;color: #ffffff; height: 30px; padding: 8px 15px 0; display: block;}
#account-nav a:hover {color: #ffffff; background: #F9A818; border-bottom: solid 3px #000000; text-decoration: none;}
.account #account-nav .acc-account a,
.account_settings #account-nav .acc-settings a,
.help #account-nav .acc-help a,
.support #account-nav .acc-support a {color: #337133; border-bottom: solid 3px #337133;}
#account-nav .acc-logout a:hover {color: #ffffff;border-bottom: solid 3px #000000;}

#main-nav {clear:both; height: 34px; background: #289728; border: 1px solid #4A4A4A;
    background-image: -webkit-linear-gradient(top, #3E3E3E 1%, #363636 49%, #3C3C3C 51%, #262626 100%);
    background-image: -moz-linear-gradient(top, #3E3E3E 1%, #363636 49%, #3C3C3C 51%, #262626 100%);
    background-image: -ms-linear-gradient(top, #3E3E3E 1%, #363636 49%, #3C3C3C 51%, #262626 100%);
    background-image: -o-linear-gradient(top, #3E3E3E 1%, #363636 49%, #3C3C3C 51%, #262626 100%);
    background-image: linear-gradient(top, #3E3E3E 1%, #363636 49%, #3C3C3C 51%, #262626 100%);
}

.dropdown-menu {background-color: #333333 !important;}
#main-nav #manage {float: right; width: 180px; margin: 8px 15px 0 0;}
#main-nav ul {float: left;}
#main-nav li {position: relative; float: left; width: 175px;}
#main-nav li a {float: left; height: 30px; /*width: 140px;*/ text-align: center; padding: 10px 15px 0; color: #fff; font-size:12px;font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
#main-nav li a:hover {background: #333333;}
#main-nav li.active a, #main-nav li.hover a, #main-nav li.dashboard a {background: #333333;}
#main-nav li.dashboard a {width: 120px;}
#main-nav li.menuchart a, #main-nav li.package a {width: 120px;}

#main-nav li.has-subnav a {padding-right: 32px; background-image: url(../images/ico-arrow-nav.png); background-repeat: no-repeat; background-position: right 14px;}
#main-nav li.has-subnav ul {display: none;padding-top: 5px;position: absolute; z-index: 9999;left: -1px;top: 30px;width: 120px;background: url(../images/ico-arrow-nav-ul.png) 16px 0 no-repeat;}
#main-nav li.has-subnav ul li {width: 100%; -webkit-box-shadow: 1px 1px 2px #999999; -moz-box-shadow: 1px 1px 2px #999999;box-shadow: 1px 1px 2px #999999;}
#main-nav li.has-subnav ul li a {text-shadow: none;padding: 0;font-size: 12px;font-weight: normal;width: 120px;height: auto;color: #000;background: none;border: 0;
    padding: 5px 14px 3px;border: 1px solid #4A4A4A;border-top: 0;background: #fff;text-align: left;}
#main-nav li.has-subnav ul li a:hover {color: #4A4A4A;}
#main-nav li.has-subnav.hover a {background-image: url(../images/ico-arrow-nav-top.png);}
#main-nav li.has-subnav.hover ul {display: block;}
#main-nav li.has-subnav.hover ul a {background: #fff;}

/* Main Content ----------------------------------- */

#main-page {margin-bottom: 20px;}
#main-page .qtip {background: none;}
#main-page .page-header {padding-right: 15px;margin: 20px 0 !important;}
#main-page p.notification {margin: 10px 0 0;padding-bottom: 4px;}
#main-page .page-content {padding-bottom: 45px;min-height: 560px;}

.page-controller {border:1px solid #DFDFDF; background:#EBEBEB; border-radius:5px;
    -moz-border-radius:5px; -webkit-border-radius:5px; margin:10px 0px 10px 0;}
.page-controller:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
* html .page-controller{height:1%;overflow:visible}
* + html .page-controller{min-height:1%}

.page-controller {margin-top:10px;}
.page-controller ul{height:21px;display:block;margin:0;padding:0 0 0 6px}
.page-controller ul li{display:block;float:left;position:relative;height:21px;overflow:hidden;line-height:21px;font-size:.9167em;background:url(/images/ChevronOverlay.png) no-repeat 100% 0;margin:0 6px 0 0;padding:0 10px 0 0}
.page-controller ul li div.chevronOverlay{position:absolute;right:0;top:0;z-index:2}
.page-controller ul li span{display:block;overflow:hidden}
.page-controller ul li a{display:block;position:relative;height:21px;line-height:21px;overflow:hidden;float:left}
.page-controller ul li.first {padding-right:12px;opacity:0.6}
.page-controller ul li.last{background:none;margin-right:0;padding-right:0}



/* Channel Image Mnnitoring ---------------------------------*/
#cctv ul {}
#cctv li.thumbnail {float: left; margin: 5px; vertical-align: top;}
#cctv li.thumbnail img {width: 110px; height: 110px;  padding: 2px !important;}
#cctv li.thumbnail p {font-size: 10px;width: 100px;height:30px;font-family: helvetica, arial, sans-serif;line-height: 12px;}


